.footer__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.footer__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--decorate-font);
    font-size: 16px;
    color: var(--tamarind);
    background-color: var(--faded-jade);
    border: none;
    cursor: pointer;
}
.footer__link:hover {
    color: var(--copper);
}
.footer-icon {
    transform: scale(2);
}
