
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

:root {
  --title-font: "Federo", sans-serif;
  --content-font: "Combo", system-ui;
  --decorate-font: "Ribeye", serif;
  --button-font: "Notable", sans-serif;
  --copper: #B78338;
  --chestnut: #915C4C;
  --faded-jade: #40686A;
  --tamarind: #2F1812;
  --cool-mint: #9BCFB8;
  --succulent: #7fb174;
  --juniper: #689C97;
  --brunswick: #072A24;
  
}

a {
  font-weight: 500;
  color: #2F1812;
  text-decoration: inherit;
}
a:hover {
  color: #915C4C;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--faded-jade);
}

h1 {
  font-family: var(--title-font);
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--tamarind);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--copper);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--chestnut);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
